<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd"



>

    <!-- repositories -->
    <bean name="hardDriveVehicleRepository"
          class="pl.sdacademy.spring.car_dealer.repository.HardDriveVehicleRepository" init-method="initialize"
          destroy-method="cleanUp">
        <constructor-arg index="0" value="${repository.vehicle.hardDrive.fileLocation}"/>
    </bean>
    <bean name="hardDriveCustomerRepository"
          class="pl.sdacademy.spring.car_dealer.repository.HardDriveCustomerRepository" init-method="initialize"
          destroy-method="cleanUp">
        <constructor-arg index="0" value="${repository.customer.hardDrive.fileLocation}"/>
    </bean>
    <bean name="hardDrivePurchaseRepository"
          class="pl.sdacademy.spring.car_dealer.repository.HardDrivePurchaseRepository" init-method="initialize"
          destroy-method="cleanUp">
        <constructor-arg index="0" value="${repository.purchase.hardDrive.fileLocation}"/>
    </bean>

    <!-- services -->
    <bean name="defaultCarDataService" class="pl.sdacademy.spring.car_dealer.service.DefaultCarDataService"
          autowire="constructor"/>
    <bean name="defaultSellingService" class="pl.sdacademy.spring.car_dealer.service.DefaultSellingService"
          autowire="constructor"/>

    <!-- controllers -->
    <bean name="carDataController" class="pl.sdacademy.spring.car_dealer.controller.CarDataController"
          autowire="byType"/>
    <bean name="sellingController" class="pl.sdacademy.spring.car_dealer.controller.SellingController"
          autowire="byType"/>

    <!-- application -->
    <bean name="application" class="pl.sdacademy.spring.car_dealer.Application" autowire="byName"/>


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="application.properties"/>
    </bean>
</beans>
